td {
    border: 1px solid;
}

.blue {
    color: #0000ff;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff00;
}

.purple {
    color: #ff00ff;
}

.yellow {
    color: #ffbb00;
}

.cyan {
    color: #00ffff;
}